@import "../../styles/global.scss";

.works_slide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0px 128px;
  padding-top: 32px;

  @include breakpoint(tablet) {
    padding: 32px 32px;
  }

  @include breakpoint(mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .heading {
    position: relative;
    font-size: 114px;
    font-weight: 800;  
    text-align: center;
    color: rgba(white, 0.05);

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 0.5em;
      color: white;
      content: 'ABOUT ME';
      transform: translate(-50%, -50%);

      .yellow {
        color: var(--accent-color);
      }
    }
  }

  .works {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    .work_card {
      position: relative;
      width: 100%;
      height: 320px;      
      background-color: red;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      
      &:hover {        
        border: 3px solid var(--accent-color);
      }

      img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
      }

      .title {
        position: absolute;
        display: flex;
        left: 32px;
        bottom: 32px;
        justify-content: center;
        align-items: center;        
        color: white;
        font-size: 1.3em;
        font-weight: 700;              
      }          
    }


    .work_card_hover {
      @extend .work_card;
      
      
    }
  }
}