@import "../../styles/global.scss";

.works_slide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0px 128px;
  padding-top: 32px;

  @include breakpoint(tablet) {
    padding: 32px 32px;
  }

  @include breakpoint(mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .works {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    .work_card {
      position: relative;
      width: 100%;
      height: 320px;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;

      @include breakpoint(tablet) {
        height: 512px;
      }
      
      &:hover {        
        border: 4px solid var(--accent-color);
      }

      img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
      }

      .text_area {
        position: absolute;        
        left: 32px;
        bottom: 32px;

        .subtitle {
          color: rgba(white, 0.7);
        }
      }
    }


    .work_card_hover {
      @extend .work_card;
      
      
    }
  }
}